language: node_js
node_js:
  "6.10"
script:
  echo "OK"
install:
  - npm install
deploy:
  provider: lambda
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  function_name: "helpWantedBot"
  region: "us-east-2"
  role: $ROLE
  publish: true
  zip: deploy.zip
  runtime: "nodejs6.10"
  handler_name: "handler"
  on:
    all_branches: true;

before_deploy:
  - zip -r deploy.zip index.js package.json node_modules/

after_deploy:
- unzip -l deploy.zip   